<div class="w-50 mx-auto">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of theDetails; let i = index">
                <td>{{i + 1}}</td>
                  <td>{{detail.name}} <br>  <a (click)="toggleContent()">{{ showMore ? 'Hide details' : 'show more' }}</a>
                    <br> <span *ngIf="showMore">{{detail.age}}<br>{{detail.school}}<br>{{detail.level}}<br>{{detail.gender}}<br></span>
                  </td>
              </tr>
            </tbody>
        </table>     
</div>